
html {
    --accent-colour:(#f1e23e);
    --main-colour:(#7a9d3a);
}

*{
    margin: 0;
    padding: 0;
}

.centered-content {
    max-width: 900px;
    margin: auto;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 38px;
    font-size: 20px;
    color: #000000;
}

.logo {
    max-width: 80px;
    max-height: 80px;
    position: absolute;
    margin: 5px;
}


header {
    height: 100px;
    background-color:#7a9d3a;
    position: fixed;
    width: 100%;
}

header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    list-style-type: none;
    padding-top: 10px;
    margin-right: 50px;
    margin-top: 30px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header a:hover {
    color: #193403;
}

.hero {
    background-image: url(../assets/HollowSparrowHeaderEdited.jpg);
    background-size: cover;
    width: 100%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    background-position: 0 75; 
    padding-top: 90px;
}

.hero-heading, .tagline {
    display: flex;  
    justify-content: flex-end;
    text-shadow: 0 0 20px #000000;
    border-radius: 80px;
    color: white;
}
.hero-heading {
    font-size: 90px;
    padding-top: 300px;
}

.tagline {
    font-size: 20px;
    padding-bottom: 180px;
    padding-top: 50px;
}





/* .intro, .single {
    max-width: 900px;
    margin: auto;
} */


.intro-t {
padding-bottom: 50px;
}

.tour-t {
    padding: 50px;   
}


  


.song-content a:hover {
    color: #7a9d3a;

}




.page-heading {
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
}



.single {
    background-color:#f5f7d4;
    display: flex;
}

.single img{
    width:300px;
}



.previous-albums-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 10px;
    max-width: 900px;
    margin: auto;
    padding-top: 5px;

}

.previous-albums-header {
    padding-top: 30px;
}
.pa-card {
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.pa-card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}





.song-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card {
    /* display: flex; */
}
card img {
    width: 300px;
    background-color: aqua;
}
/* .reversed-card {
    flex-direction: row-reverse;
} */
.tracks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    background-color: #7a9d3a;
    font-size: 16px;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    padding: 20px;   
}
.footer a:hover{
    color: #193403;
}
.footer ul{
    padding-top: 40px;
}

.grid-container-two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
    max-width: 900px;
    margin: auto;
    padding-bottom: 75px;
}
.merchandise-card {
    background-color:#7a9d3a;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.merchandise-card img {
    background-color: azure;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.merchandise-card h3 {
    color: white;
    text-shadow: 0 0 5px #000000;
}

.cart-button {
    color:#7a9d3a; 
    font-weight: 600;
}
   
.merchandise-outro {
    font-size: 20px;
    padding-bottom: 20px;
}


.tracks-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    column-gap: 10px;
    row-gap: 30px;
    max-width: 900px;
    margin: auto;
    padding-bottom: 75px;
}
.card-s {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tracks-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
    max-width: 900px;
    margin: auto;
    padding-bottom: 75px;
}
.card-s {
    background-color: #f5f7d4;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
