
html {
    --accent-colour:(19,1 15, 41);

    var(--accent-colour):
}
*{
    margin: 0;
    padding: 0;
}
header {
    height: 300px;
    background-color: rgb(200, 126, 30);
    position: fixed;
    width: 100%;
}
.hero {
    min-height: 500px;
    background-color: bisque;
    color: aliceblue;
}
/* .intro, .single {
    max-width: 900px;
    margin: auto;
} */
.centered-content {
    max-width: 1200px;
    margin: auto;
}


    

.intro {
    background-color: brown;
}
.single {
    background-color: blue;
    display: flex;
}
.single img{
    width:300px;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    max-width: 900px;
    margin: auto;
    padding-top: 40px;
}
.card {
    background-color: rgb(68, 116, 118);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 17px;
    color: azure;
}
.card img {
    background-color: rgb(233, 244, 244);
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}





.song-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card {
    /* display: flex; */
}
card img {
    width: 300px;
    background-color: aqua;
}
.reversed-card {
    flex-direction: row-reverse;
}
.tracks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer {
    background-color: black;
    font-size: 16px;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    padding: 50px;   
}
.footer a:hover{
    color: #f1e23e;
}
.footer ul{
    padding-top: 40px;
}

.grid-container-two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
    max-width: 900px;
    margin: auto;
    padding-bottom: 75px;
}
.merchandise-card {
    background-color:rgb(87, 155, 158);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.merchandise-card img {
    background-color: azure;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.merchandise-card h3 {
    color: white;
    text-shadow: 0 0 10px #000000;
}
   